
        <div class="search-bar-container">

          <div class="searchtitle">MOVIE SEARCH</div>
          
          <form method="get" action="/Search">
            <input type="text"  (keyup)="searchTerms.next($event.target.value)" class="form-control search-box" placeholder="SEARCH">


            <div method="get" action="/Search">
              <input [(ngModel)]="release_date" type="text" name="filmYear" placeholder="YEAR" class="sidebar-search-year">


            <div method="get" action="/Search">
                <input [(ngModel)]="spoken_languages" type="text" name="language" placeholder="LANGUAGE" class="spoken-languages"> 
            </div>

          <label [(ngModel)]="genre" for="Genre">Genre:</label>

          <select id="genre">
            <option id="genre" selected="selected">Any</option>
            <option value="action">Action</option>
            <option value="comedy">Comedy</option>
            <option value="crime">Crime/Gangster</option>
            <option value="drama">Drama</option>
            <option value="family">Family</option>
            <option value="horror">Horror</option>
            <option value="musicals">Musicals</option>
            <option value="sc-fi">Science Fiction</option>
            <option value="western">Westerns</option></select>
        
        </div>
          </form>
            <div class="container">
                <div *ngFor="let movie of movies.results | slice:0:21">
                    <a routerLink="/detail/{{movie.id}}">
                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="poster" max-width="200px" min-height="150px" class="img img-responsive " />
                        <div class="movie-list-description">
                            <span> <span *ngIf="movie.original_language">{{movie.original_language}}</span> {{ movie.release_date}} ,{{movie.genre}}</span>
                            <h4>{{movie.title}}</h4>
                            <p>{{movie.release_date}}</p>
                        </div>
                    </a>
                </div>
            </div>